@media screen and ( max-width : 1190px ) {
  .wallet-container {
    align-items: center;
    background-color: rgb(21, 21, 21);
    color: rgb(175, 177, 180);
    display: flex;
    flex-flow: row wrap;
    font-size: 19px;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    min-width: 900px;
  }
}