.header-container {
  align-items: center;
  background-color: white;
  border-bottom: 2px solid seagreen;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 6px rgba(0, 100, 0, 0.6);
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.header-container img {
  display: flex;
  height: 70px;
  width: 195px;
}

span:hover , .currency-container:hover {
  color: seagreen;
}

.wallet-container {
  align-items: center;
  background-color: rgb(21, 21, 21);
  color: rgb(195, 198, 201);
  display: flex;
  flex-flow: row wrap;
  font-size: 19px;
  justify-content: center;
  margin: 20px 0;
  padding: 20px;
}

.wallet-container input {
  border: none;
  border-radius: 6px;
  margin: 10px 15px;
  padding: 10px;
}

select {
  margin: 0 5px;
}

.wallet-style {
  background-image: linear-gradient(to right, white, rgb(124, 236, 161));
  margin: 0;
}
